.sidebarRow{
  display:flex;
  align-items:center;
  padding:10px;
  cursor:pointer;
}

.sidebarRow:hover{
  background-color:lightgrey;
  border-radius: 10px;
}

.sidebarRow > h4{
  margin:10px;
  font-weight:600;
}

.sidebarRow > .MuiSvgIcon-root{
  font-size:x-large;
  color:#2927CF;
}